# Listas

In [1]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

## Índices de la lista
Los índices comienzan en 0

In [2]:
print("The first planet is", planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

Modificar los elelementos de una lista

In [3]:
planets[3] = "Red Planet"
print("Mars is also known as", planets[3])

Mars is also known as Red Planet

Longitud de una lista

In [4]:
number_of_planets = len(planets)
print("There are ", number_of_planets, " planets in the solar system.")

There are  8  planets in the solar system.

Agrgar un elemento más a lista

In [5]:
planets.append("Pluto")
number_of_planets = len(planets)
print("There are actually", number_of_planets, "planets in the solar system.")

There are actually 9 planets in the solar system.

Eliminar valores de la lista

In [6]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print("No, there are definitely", number_of_planets, "planets in the solar system.")

No, there are definitely 8 planets in the solar system.

Uso de índices negativos

In [7]:
print("The last planet is", planets[-1])
print("The penultimate planet is", planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

Buscar la posición de un elemento en la lista

In [8]:
jupiter_index = planets.index("Jupiter")
print("Jupiter is the", jupiter_index + 1, "planet from the sun")

Jupiter is the 5 planet from the sun

## Trabaja con números en listas

In [9]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

gravity_on_planets = [0.378, 0.907, 1, 0.377, 2.36, 0.916, 0.889, 1.12]

In [10]:
bus_weight = 12650 # in kilograms, on Earth

print("On Earth, a double-decker bus weighs", bus_weight, "kg") # El primer planeta es Mercurio
print("On Mercury, a double-decker bus weighs", bus_weight * gravity_on_planets[0], "kg")

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

### Uso de min() y max()

In [11]:
print("On Earth, a double-decker bus weighs", bus_weight, "kg")
print("The lightest a bus would be in the solar system is", bus_weight * min(gravity_on_planets), "kg")
print("The heaviest a bus would be in the solar system is", bus_weight * max(gravity_on_planets), "kg")

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4769.05 kg
The heaviest a bus would be in the solar system is 29854.0 kg

## Manipulación d edatos de la lista

a) Segmentos en una lista

In [12]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [13]:
planets[0]
planets[1]
planets[2]
planets[3]
planets[4]
planets[5]
planets[6]
planets[7]

'Neptune'

In [15]:
planets[3:8]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [16]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [17]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Combinación de listas

In [18]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

regular_satellite_moons = amalthea_group + galilean_moons
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

### Ordenar listas

In [19]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [20]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

## Ejercicio

In [21]:
user_planet = input("Please enter the name of the planet (with a capital letter to start)")

In [22]:
planet_index = planets.index(user_planet)

In [23]:
print("Here are the planets closer than " + user_planet)
print(planets[0:planet_index])

Here are the planets closer than Earth
['Mercury', 'Venus']

In [24]:
print("Here are the planets further than " + user_planet)
print(planets[planet_index + 1:])

Here are the planets further than Earth
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']